<html>
<head>
    <title></title>
</head>
<body>
    create a question
    <form action="/makeqs" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= topic %>">
        <input type="text" name="qs"><br>
        <input type="number" name="mark"><br>
        <input type="file" name="file"><br>
        <input type="text" name="qs"><br>
        <input type="number" name="mark"><br>
        <input type="file" name="file"><br>
        <input type="text" name="qs"><br>
        <input type="number" name="mark"><br>
        <input type="file" name="file"><br>
        <input type="text" name="qs"><br>
        <input type="number" name="mark"><br>
        <input type="file" name="file"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>