<html>
<head>
    <title></title>
</head>
<body>
    hello
    <form action="/logout" method="POST">
        <button type="submit">logout</button>
    </form>
    <form action="/redirect" method="post">
        <button name="btn" value="makeqs">makeqs</button>
    </form>
</body>
</html>