<html>
<head>
    <title>login</title>
</head>
<body>
    <form action="/signup" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="repassword" placeholder="retype password">
        <input type="checkbox" name="type" value="teacher">
        teacher<br>
        <input type="checkbox" name="type" value="student">
        student
        <button type="submit"> login </button>
    </form>
</body>
</html>